# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Ignore any package files
*.tar.gz
*.zip
*.rar
*.war
*.jar


# Exlude the build director created for building the code
build/*
.vscode/*
inputs/*
results/*


# Exclude json input files and results files
*.json
*.vtk


# Exclude executable
RunCode
